@page "/"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Home</PageTitle>
<h1>Home</h1>
<div id="map" style="height:500px;width:100%;" />
<div id="request"></div>
<div id="response"></div>
