@page "/register"

@using TrackMap.Services
@using YANLib

@inject NavigationManager NavigationManager
@inject IToastService ToastService
@inject IAuthService AuthService

<PageTitle>Register</PageTitle>

@if (ShowErrors)
{
    <div class="alert alert-danger">
        @if (Errors.IsEmptyOrNull())
        {
            <p>Not responding</p>
        }
        else
        {
            @foreach (var error in Errors)
            {
                <p>@error</p>
            }
        }
    </div>
}

<div class="d-flex justify-content-center text-center">
    <div class="card w-25">
        <div class="card-body">
            <h5>Register</h5>

            <EditForm Model="Register" OnValidSubmit="HandleRegister">
                <DataAnnotationsValidator />

                <div class="mt-4">
                    <InputText class="form-control text-center" placeholder="Enter username" @bind-Value="Register.UserName" />
                </div>

                <div class="mt-3">
                    <InputText class="form-control text-center" placeholder="Enter password" type="password" @bind-Value="Register.Password" />
                </div>

                <div class="mt-3">
                    <InputText class="form-control text-center" placeholder="Confirm password" type="password" @bind-Value="Register.ConfirmPassword" />
                </div>

                <div class="mt-4">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary w-100">Register</button>
                        </div>

                        <div class="col">
                            <a href="/login" class="btn btn-success w-100">Login</a>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>
