@page "/test"

@using Microsoft.AspNetCore.Authorization

@inject IJSRuntime JSRuntime

@attribute [Authorize(Roles = "Admin")]

<PageTitle>Test Google Map Routes</PageTitle>
<h1>Test Google Map Routes</h1>

<div class="text-center mt-4">
    <div class="d-flex justify-content-center">
        <div class="w-50">
            <input type="text" class="form-control text-center" id="route-destination" value="Xie Xìe Hotpot Dimsum, Đường Cộng Hòa, Phường 13, Tân Bình, Ho Chi Minh City, Vietnam" readonly />

            <div class="mt-3">
                <button class="btn btn-success" disabled="@IsWatching" @onclick="HandleWatch">Watch</button>
                <button class="btn btn-danger" @onclick="HandleReset">Reset</button>
            </div>
        </div>
    </div>
</div>

<div class="mt-4" id="route" style="height:600px;width:100%;" />
