@using static Microsoft.AspNetCore.Components.Routing.NavLinkMatch;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Track Map</a>

        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"/>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="All">
                <span class="oi oi-home" aria-hidden="true"/> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="route">
                <span class="oi oi-map" aria-hidden="true" /> Google Map route
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="direction">
                <span class="oi oi-map-marker" aria-hidden="true" /> Google Map direction
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="oi oi-people" aria-hidden="true" /> User list
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="test">
                <span class="oi oi-check" aria-hidden="true" /> Test
            </NavLink>
        </div>
    </nav>
</div>
