@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Components.Authorization
@using static BlazorBootstrap.IconName
@using static Blazored.Toast.Configuration.IconType
@using static Blazored.Toast.Configuration.ToastPosition

@inject ILocalStorageService LocalStorageService
@inject IToastService ToastService

@inherits LayoutComponentBase

<BlazoredToasts Position="BottomRight"
                Timeout="3"
                ShowProgressBar="true"
                IconType="FontAwesome"
                InfoIcon="fa fa-info"
                SuccessIcon="fa fa-check"
                WarningIcon="fa fa-exclamation"
                ErrorIcon="fa fa-bug" />

<div class="page">
    <Sidebar IconName="MapFill"
             Title="Track Map"
             DataProvider="SidebarDataProvider" />

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    Hello, @(context.User.Identity?.Name ?? User?.UserName)
                    <a href="/logout">Logout</a>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">@Body</article>
    </main>
</div>
